<div class="px-6">
  <section>
    <span class="font-cursive font-bold mb-3 inline-block text-orange-600">Geniune 100% Organic Products</span>
    <h1 class="text-3xl font-bold">Online fresh <br>Grocery <span class="text-orange-600">Products</span></h1>
    <p class="text-neutral-700 my-3 font-medium">Assertively target market-driven intellectual capital with worldwide human capital holistic.</p>

    <div class="ctas">
      <button class="px-6 py-3 rounded-sm font-medium inline-flex gap-x-2 items-center bg-orange-600 text-white hover:bg-green-500">
        Shop now
        {% render 'icon-right-arrow' icon_class: 'fill-white' %}
      </button>
      <button class="px-6 py-3 rounded-sm font-medium inline-flex gap-x-2 items-center bg-green-500 text-white hover:bg-orange-600">
        About us
        {% render 'icon-right-arrow' icon_class: 'fill-white' %}
      </button>
    </div>
    {% render 'okendo-reviews-widget', product: product %}
    <div class="flex">
      {% comment %} <img src="" alt=""> {% endcomment %}
    </div>
  </section>
</div>